<!-- file to show specific campground details  -->

<!-- injecting code to boiler plate -->
<!-- it will pass everything here to the body of boiler plate -->
<% layout('layouts/boilerPlate') %>

    <!-- it will show title of that one found campground -->
    <h1>
        <%= campground.title %>
    </h1>
    <!-- it will show location of that one found campground -->
    <h2>
        <%= campground.location %>
    </h2>
    <!-- it will show image of that unsplash image campground -->
    <img src="<%= campground.image %> ">
    <!-- it will show description of that one found(hardcoded) campground -->
    <p>
        <%= campground.description %>
    </p>
    <!-- it will show price of that one found(hardcoded) campground -->
    <h2>
        <%= campground.price %>
    </h2>

    <!-- for edit it will take to edt.ejs file for specific campground edit -->
    <p>
        <a href="/campgrounds/<%=campground._id %>/edit">Edit</a>
    </p>
    <!-- deleting -->
    <form action="/campgrounds/<%=campground._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>

    <footer>
        <!--back to all campgrounds  -->
        <a href="/campgrounds">All Campgrounds</a>
    </footer>